#toggle_info{
    display: flex;
    border-radius: 10px;
    margin-top: 2rem;
    border: 2px solid #E4E4E7;
}

.toggle_buttons{
    margin-left: 1rem;
    padding-inline: 1rem;
    padding-block: .3rem;
    margin-block: .2rem;
    border-radius: 5px;
    background-color: #F4F4F5;
    cursor: pointer;
}